.cont-locales {
    position: fixed;
    inset: 0;
    background: rgba(35, 35, 35, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.locales {
    width: 85%;
    max-height: 90vh;
    background: var(--fondo);
    border: 5px solid #1F1F1F;
    border-radius: 20px;
    padding: 5vh;
    overflow-y: auto;
}

.local {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 30px;
}

.locales h2 {
    font-family: 'DM Serif Display';
    color: var(--texto_titulo);
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}

.local-img {
    width: 300px;
    height: 271px;
    margin-left: 30px;
    border-radius: 10px;
}

.local-info {
    font-family: 'Inter';
    color: var(--texto_sec);
    flex: 1;
    float: left;
}

.local-info h3 {
    font-family: 'DM Serif Display';
    color: var(--texto_titulo);
    margin-bottom: 20px;
    font-size: 35px;
}

.local-info p {
    color: var(--texto_sec);
    margin-bottom: 12px;
    margin: 20px;
    font-size: 20px;
}

.calle {
    display: flex;
}

.provincia {
    display: flex;
}

.telefono {
    display: flex;
}

.local-separador {
    background-color: white;
    height: 15vw;
    width: 0.1vw;
    margin: 0 5vw;
}

.extra {
    font-family: 'Inter';
    color: var(--texto_sec);
    margin: 0 0.5vw;
    display: flex;
}

.maps {
    text-align: center;
    margin-right: 15px;
}

.maps img {
    width: 70px;
    transition: all 0.3s ease;
}

.maps img:hover {
    transform: translateY(-5px) scale(1.02);
    cursor: pointer;
}

.maps p {
    margin-top: 0;
    font-size: 20px;
}

.mail {
    text-align: center;
    margin-left: 15px;
}

.mail img {
    width: 70px;
    transition: all 0.3s ease;
}

.mail img:hover {
    transform: translateY(-5px) scale(1.02);
    cursor: pointer;
}

.mail p {
    margin-top: 0;
    font-size: 20px;
}

.btn-cerrar-l{
    float: right;
    padding: 0.6vw;
    width: 3.3vw;
    font-size: 2vw;
    background-color: #935633;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-family:"Inter";
}

.btn-cerrar-l:hover{
    cursor: pointer;
    background-color: #6F4327;
}