.preg-titulo, #Preg_frec h1 {
    color: var(--texto_titulo);
    font-family: "DM Serif Display", sans-serif;
}

#Preg_frec h1 {
    font-size: 4.5vh;
    font-weight: 400;
}

.preg-contenido {
    color: var(--texto_sec);
    font-family: "Inter", sans-serif;
    max-width: 89%;
    font-size: 2.05vh;
}

.pregunta {
    background-color: var(--fondo_card2);
    margin: 2.45vh 0;
    padding: 2vh 1vw;
    min-height: 3.8vh;
}

.pregunta:last-of-type {
    margin-bottom: 0;
}

.preg_frec-local {
    flex: 1;
    height: 100%;
}

#Preg_frec {
    display: flex;
    flex-direction: row;
}

#Preg_frec > div {
    flex: 1;
    margin: 6vh 9.1vw;
}

.abierto, .preg-contenido {
    height: fit-content;
}

.preg-titulo, .preg-flecha {
    display: inline-block;
}

.preg-titulo {
    font-size: 2.7vh;
}

.abierto .preg-titulo {
    margin: 0 0 1vh;
}

.preg-flecha {
    float: right;
    position: relative;
    top: 1.5vh;
    right: 0.25vw;
    height: 1.5vh;
}

.abierto {
    padding-bottom: 1.35vh;
}

#preg_frec-local {
    height: 98vh;
}