#Sob_nos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Sob_nos h1 {
    background-image: url('../assets/Fondo-Sobre-nosotros.png');
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 26.445vh;
    font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    color: var(--texto_titulo);
    font-size: 4.445vh;
}

#Sob_nos #historia{
    width: 76.39vw;
    height: fit-content;
    margin: 8vh 0;
    display: flex;
}

#Sob_nos #historia-imagenes {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#Sob_nos_img1 {
    width: 85.75%;
    height: fit-content;
    display: inline-block;
}

#Sob_nos_img2 {
    width: 77.44%;
    z-index: 1;
    position: relative;
    right: 20%;
    margin-top: 17.6365%;
    display: inline-block;
    height: fit-content;
}

#Sob_nos #historia-contenido {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    padding: 2.273125% 0 0 0;
    flex: 1;
    box-sizing: border-box;
}

#Sob_nos h2 {
    color: var(--texto_titulo);
    font-size: calc(10vh/3);
    font-weight: 400;
    font-family: "DM Serif Display", sans-serif;
}

#Sob_nos #historia-contenido span {
    width: 50%;
    margin: 2.73% 0;
}

#Sob_nos #historia-contenido p {
    color: var(--texto_sec);
    font-size: 2.2vh;
    font-family: "Inter";
    overflow: scroll;
}

#Sob_nos span {
    width: 75vw;
    height: 1px;
    margin-bottom: 4vh;
    background-color: var(--texto_sec);
}

#Sob_nos #equipo {
    margin-bottom: calc(-1vh/3);
}

#Sob_nos #equipo h2 {
    text-align: center;
}

#Sob_nos #equipo img {
    margin: 0 1.8065vw;
    height: 34vh;
}